body { 
        background-color: #4E4088;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.top-container {
        display: inline-block;
        width: 800px;
        margin-left: calc(50% - 400px);
}

.logo {
    display: inline-block;
    float: left;
    height: 40px;
    margin-top: 10px;
    }

.menu {
    display: inline-block;
    float: right;
}

.menu > a {
    display: inline-block;
    width: auto;
    text-decoration: none;
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    line-height: 16px;
    border: transparent 3px solid;
    color: white;
}
.menu > a:first-of-type {
    font-size: 25px;
    line-height: 40px;
    padding-right: 230px;
}
.menu > a:last-of-type {
    border-left: #625795 2px solid;
}

.main-container { 
    display: inline-block;
    width: 800px;
    margin-left: calc(50% - 400px); 
    margin-top: 100px;
   }

.main-container > img {
    width: 43%;
    margin-left: 5%;
    float: left;
}

.right-side {
    display: inline-block;
    width: 43%;
    margin-left: 4%;
    margin-right: 2%;
    float: right;
    text-align: center;
}

h1 {
    display: inline-block;
    width: 100%;
    font-size: 47px;
    text-align: left;
    line-height: 60px;
    text-transform: uppercase;
    color: white;
    
}

span {
    color: #DD3E62;
}

p {
    display: inline-block;
    width: 100%;
    text-align: left;
    color: white;
    font-size: 22px;

}

.right-side > a {
    display: inline-block;
    float: left;
    padding: 9px 34px;
    border: 3px dashed rgb(185, 62, 108);
    border-radius: 25px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;

}