body { 
        background-color: #4E4088;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
        display: inline-block;
        background-color: aqua;
        width: 800px;
        margin-left: calc(50% - 400px);
}

header > img {
         height: 30px;
         float: left;
         background-color: yellow;
}

header > nav {
         display: inline-block;
         width: auto;
         float: right;
         background-color: tomato;
}

nav > a {
    display: inline-block;
    width: auto;
    background-color: yellowgreen;
    text-decoration: none;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

nav > a:first-of-type{
    display: inline-block;
    width: auto;
    float: left;
    margin-right: 325px;
    line-height: 28px;
    background-color: yellow;

}

main { 
    display: inline-block;
    width: 800px;
    margin-left: calc(50% - 400px);
    background-color: teal; width: 800px;
}

main > image {
    width: 43%;
    margin-left: 2%;
    float: left;
}

main > div {
    display: inline-block;
    width: 43%;
    margin-left: 4%;
    margin-right: 2%;
    float: right;
    text-align: center;

}

div > h1 {
    display: inline-block;
    width: 100%;
    line-height: 30px;
    font-size: 32px;
    
}

h1 > span {
    color: red;
}

div > p {
    display: inline-block;
    width: 100%;

}

div > a {
    display: inline-block;
    float: left;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: red dashed 2px;
    border-radius: 15px;
    text-decoration: none;

}